.app-wrapper {
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/


}

.nav {
    grid-area: n;
    background-color: red;
}

.header {
    grid-area: h;
    background-color: green;
}

.header img {
    width: 80px;
}

.content {
    grid-area: c;
    background-color: gold;
}

.content img {
    width: 100%;
}